@use '@/style/variables' as *;
@use '@/style/mixins/components' as *;
.weather-cards{
    &__item{
        @include flex-center;
        flex-direction: column;
        border-radius: 20px;
        max-width: 293px;
        width: 100%;
        background-color: $color-backdrop;
padding: 15px 15px 20px;
    }
    &__country-info-container{
        display: flex;
        justify-content: space-between;
        max-width: 263px;
        width: 100%;
    }
    &__country-info{
        font-family: $font-main;
font-weight: 500;
font-size: 12px;
color: $color-main;
    }
    &__weather__time{
font-family: $font-main;
font-weight: 500;
font-size: 20px;
color: $color-main;
    }
    &__button-wrapper{
        display: flex;
justify-content: space-between;
max-width: 210px;
width: 100%;
    }
    &__button{
@include btn-content(6px 11.5px, 9px)
    }
    &__button-more{
        padding: 8px 20px;
        margin: 0 13px 0 18px;
    }
    &__temperature{
font-family: $font-main;
font-weight: 500;
font-size: 24px;
text-align: center;
color: $color-main;
    }
    &__img-wrapper{
width: 83px;
height: 83px;
    }
    &__img{
  width: 100%;
    height: 100%;
    object-fit: cover; 
    }
    &__date{
font-family: $font-main;
font-weight: 500;
font-size: 12px;
text-align: right;
color: $color-main;
    }
    &__date__line{
        border: 1px solid $color-main;
        height: 14px;
    }
    &__date-wrapper{
        display: flex;
        max-width: 120px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    &__icon{
        width: 24px;
        height: 24px;
    }
    &__icons-wrapper{
        @include flex-center;
        flex-direction: row;
        gap: 14px;
        max-width: 230px;
        width: 100%;
    }
}