@use "./variables" as *;
@use "./mixins/components" as *;
@import "normalize.css";
* {
  box-sizing: border-box;
}
html {
  color: $color-main;
  font-family: $font-main;
  font-weight: 500;
}
.container {
  width: 100%;
  @include media("L") {
    margin: 0 auto;
    width: 1140px;
  }
}
