@use "./variables" as *;
@use "./mixins/components" as *;
@import "normalize.css";
* {
  box-sizing: border-box;
}
html {
  color: $color-main;
  font-family: $font-main;
  font-weight: 500;
}
.container {
  width: 100%;
  margin: 0 50px;

  @include media("S") {
    margin: 0 75px;
  }
  @include media("M") {
    margin: 0 100px;
  }
  @include media("L") {
    margin: 0 auto;
    width: 1140px;
  }
}
