.statistic-container {
  background-color: #E8E8E8;
  border-radius: 16px;
  padding: 20px;
  max-width: 1140px;
  margin: 0 30px;
  font-family: sans-serif;
  
 
 
}


@media (max-width: 768px) {
  .statistic-container {
    max-width: 700px;
    margin: 0 30px;
  }
}


@media (max-width: 320px) {
  .statistic-container {
    max-width: 320px;
 margin: 0 30px;
  }

  .statistic-container h2 {
    font-size: 16px;
    text-align: center;
  }
}
